@import "tailwindcss";
body {
  font-family: Arial, sans-serif;
}
@theme {
  --color-brand-brown: #3e2723;
  --color-brand-chocolate: #5d4037;
  --color-brand-cream: #fbf8f1;
  --color-brand-light: #efebe9;
  --color-brand-accent: #d84315;

  --animate-fade-in-up: fadeInUp 1s ease-out forwards;
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

:root {
  --background: var(--color-brand-cream);
  --foreground: var(--color-brand-brown);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-brand-brown);
    --foreground: var(--color-brand-cream);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}